header {
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

article {
  border: 1px solid black;
}

h1 {
  border: 1px solid black;
}

img {
  max-width: 100%;
}

/* ØVELSE 2A*/

article:nth-child(1) {
  color: red;
}

article:first-of-type + article {
  color: blue;
}