header {
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

article {
  border: 1px solid black;
}

h1 {
  border: 1px solid black;
}

img + p {
    font-weight: bold;
    max-width: 100%;
}

